/vendor
/node_modules
/public/storage
Homestead.yaml
Homestead.json
.env
.DS_store
yarn.lock
yarn-error.log
/public/js/*.js
/public/js/*.json
/public/css/app.css
/public/mix-manifest.json
/public/hot
