.panel-heading h4, .panel-heading p {
    display: inline;
    vertical-align: bottom;
    font-family: 'Open Sans', sans-serif;
}

div.not_found_text {
    margin:15px;
}

#infoTable {
    margin-top: 0px;
}

.panel-body {
    height: 500px;
    padding: 0px;
}
