.panel-heading h4, .panel-heading p {
    display: inline;
    vertical-align: bottom;
    font-family: 'Open Sans', sans-serif;
}

div.not_found_text {
    margin:15px;
}

.info_table {
    margin-top: 0px;
}

.panel-body {
    height: 500px;
    padding: 0px;
}

table thead tr th div {
    text-align:center;
}

table tbody {
    text-align:center;
    margin: 0px;
}

.panel.panel-default {
    margin-bottom: 0px;
}
